body {
  margin: 0;
  
}

nav {
  background-image: url("../img/fondo-gris.jpg");
  background-repeat: repeat;
}

.imagenes {
  display: flex;
  align-items: center;
}

.logos {
  background-image: url("../img/fondo-gris.jpg");
  background-repeat: repeat;
}

.carousel-pequeño {
  background-image: url("../img/fondo-gris.jpg");
  background-repeat: repeat;
}

.contenedor-logos {
  display: flex;
  align-items: center;
}
.nav-link {
  font-family: 'Roboto', sans-serif;
  color: #23478b;
}

.hero-desktop {
  background-image: url("../img/mujer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-mobile {
  background-image: url("../img/mujer-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-compromiso {
  background-image: url("../img/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .hero-gracias {
  background-image: url("../img/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
} */

.letters-gracias {
  padding-top: 15rem;
  padding-bottom: 20rem;
}

.letters-compromiso {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.hero-compromiso p {
  color: aliceblue;
  text-shadow: 3px 3px 3px black;
}

.letters {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.img-full {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

/* .accordion-button {
  background-image: url("../img/fondo-gris.jpg");
  background-repeat: repeat;
} */

/* .accordion-collapse {
  background-image: url("../img/fondo-gris.jpg");
  background-repeat: repeat;
} */

.hero-desktop p {
  color: aliceblue;
  text-shadow: 3px 3px 3px black;
}

.hero-mobile p {
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
}


.btn {
  background-color: #23478b;
  color: aliceblue;
  border-radius: 10px;
  padding: 1rem;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) hwb(210deg 79% 18%)!important;
} 

h1 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  color: aliceblue;
}



h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #23478b;
}

h3 {
  color: #23478b;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.iconos-compromiso {
  font-size: 50px;
  color: #5cbbf6;
}

.iconos {
  margin-right: 10px;
  color: #23478b;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 1rem;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.accordion-text {
  font-size: 17px;
}

.hero-gracias {
  background-image: url('../img/gente2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

